body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  top:0 !important;
  font-size: 16px;
  font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  margin: 0;
  padding: 0;
  list-style: none; }
h3 {
  margin: 0;
  padding: 0;
  list-style: none; }

h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

h5 {
  margin: 0;
  padding: 0;
  list-style: none; }

h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none !important;
  text-decoration: none !important; 
}

input {
  outline: none !important; 
}

button {
  outline: none !important; 
}
img{
  max-width: 100%;
  height: auto;
}

.small_button a {
	font-family: Muli;
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	border-radius: 4px;
	background-color: #00c1d5;
	padding: 8px 27px;
	border-color: #00c1d5;
	margin-top: 15px !important;
	transition: 0.5s;
	display: inline-block;
}
.small_button a:hover{
	background-color: #101820;
}
#page-top {
	overflow-x: hidden !important;
}

/* Header Css  */
.header_area {
	padding-top: 15px;
	padding-bottom: 25px;
	background: #FFF;
}
.header_area .container .row {
	align-items: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #707070;
}
.menu ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.menu ul li a {
	color: #002FA7;
	font-size: 26px;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 56px;
  transition: 0.5s;
}
.menu ul li a:hover {
  color: #000;
}
.menu > ul:nth-child(1) > li:nth-child(4) > a:nth-child(1) {
	background: #002FA7;
	color: #FFF;
	padding: 10px 42px;
	border-radius: 28px;
	text-transform: capitalize;
	box-sizing: border-box;
	box-shadow: 0 4px 7px #888;
}
.menu > ul:nth-child(1) > li:nth-child(4) > a:nth-child(1):hover {
	background: #000;
	transition: 0.5s;
}
.owl-theme .owl-nav {
	margin-top: 0px;
}
.owl-prev {
	position: absolute;
	top: 0;
	left: 40px;
	bottom: 0;
	width: 37px;
	height: 48px;
	margin: auto !important;
}
.owl-next {
		position: absolute;
    top: 0;
    right: 40px;
    bottom: 0;
    width: 37px;
    height: 48px;
    margin: auto !important;
}
.owl-nav button img {
	width: 28px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
	background: transparent;
	color: #FFF;
	text-decoration: none;
}
.hero_banner_section_area {
	position: relative;
}
.date_item_f_area {
	position: absolute;
	width: 90%;
	bottom: 185px;
	z-index: 1;
	right: 0;
	left: 0;
	margin: auto;
}

.block_items_area {
	display: flex;
	background: #FFF;
	border-radius: 27px;
	align-items: center;
	width: 100%;
	overflow: hidden;
}
.destination_imtes {
	flex: 0 0 25%;
	max-width: 25%;
	width: 100%;
	padding: 20px 40px;
	text-align: center;
}
.block_items_area div.destination_imtes:nth-child(4){
  background-color: #002FA7;
}
.content_maintenant h5{
  color: #FFF;
}
.select_item .form-select:focus {
	outline: 0;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 0px solid transparent;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.select_item .form-select {
	color: #000000;
	font-size: 23px;
	line-height: 22px;
	font-weight: 700;
	border: 0px solid transparent;
	padding: 17px 11px;
	text-transform: capitalize;
	background-image: none;
	border-radius: 0;
}
.select_item {
	position: relative;
}
.select_item::after {
	position: absolute;
	content: "";
	background: url(../images/icon/angle-down.png) no-repeat scroll;
	width: 11px;
	background-size: 100% 100%;
	top: 25px;
	right: 20px;
	z-index: 99;
	height: 8px;
}
.form-select option{
  font-size: 18px;
}
.content_maintenant h5 {
	color: #FFF;
	font-size: 18px;
	padding-top: 5px;
}
.destination_imtes{
  position: relative;
}
.destination_imtes::after {
	position: absolute;
	content: "";
	width: 1px;
	height: 60px;
	background-color: #000;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.block_items_area div.destination_imtes:nth-child(3){
  position: inherit;
}
.block_items_area div.destination_imtes:nth-child(4){
  position: inherit;
}
.date_item_f_area .container {
	width: 90%;
	margin: auto;
}
/* Image Css  */
.image_section_area{
  background-color: #FFF;
  padding-top: 70px;
  padding-bottom: 50px;
}

.single_item_image{
  text-align: center;
}
.single_item_image img {
	width: 85%;
}
.title h1 {
	text-align: center;
	font-family: 'Ananda';
	color: #000000;
	padding-bottom: 45px;
	font-size: 50px;
}
.sm_button {
	margin-top: 15px;
}
.sm_button a {
	background: #002FA7;
	color: #FFF;
	padding: 8px 12px;
	border-radius: 28px;
	box-sizing: border-box;
	box-shadow: 0 4px 7px #888;
	font-size: 23px;
	font-weight: 700;
	text-transform: capitalize;
	transition: 0.5s;
	width: 184px;
	display: inline-block;
}